h1 {
  color: white;
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: clamp(2rem, 4vw, 8rem);
}

.add-btn {
 width: 40%;
 padding: 10px;
 border: 3px solid white;
 border-radius: 20px;
 background-color: black;
 color: white;
}

.add-btn:active{
  background-color: rgb(103, 103, 99);
}

ul{
  list-style: none;
}

.todo-container {
  font-size: 50px; 
}

.title-flex {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* High z-index to appear above other content */
}

.modal-flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.modal-text {
  font-family: "Raleway", sans-serif;
}

.modal-form-flex {
  display: flex;
  flex-direction: column;
 
}

.modal-form-flex > select {
  width: 200px;
  align-self: center;
  justify-self: center;
}

.modal-form-flex > label {
  font-size: clamp(1rem, 1vw, 4rem);
  text-align: center;
}


.input-container {
  width: 10px;
}

.modal-btn-flex {
  display: flex;
  gap: 20px;
  padding-top: 5px;
}

.modal-btn-close {
  flex:1;
  color: red;
}

.modal-btn-add {
  flex:1;
}

.modal-btn-add,
.modal-btn-close {
  border: 2px solid white;
  border-radius: 30px;
  background-color: black;
  color: white;
}

.modal-btn-add:active,
.modal-btn-close:active {
  background-color: rgb(103, 103, 99);
}

.loader-flex {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
