h1 {
  color: white;
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: clamp(2rem, 4vw, 8rem);
}

.priority-chart {
  display: flex;
  color: white;
  flex-wrap: wrap;
}
.priority-low, .priority-medium, .priority-high
{
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  padding: 40px;
  font-size: clamp(1rem, 2vw, 5rem)
}

.low-color {
 color: #12AFBB;
}

.medium-color {
    color: #10BE3F;
}

.high-color {
  color: #EF7DC1;
}

.add-btn {
 width: 40%;
 padding: 10px;
 border: 3px solid white;
 border-radius: 20px;
 background-color: black;
 color: white;
}

.add-btn:active{
  background-color: rgb(103, 103, 99);
}

.todo-flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin:10px;
  
}

.todo {
  display: flex;         /* Allows layout of title and description */
  flex-direction: column; /* Stack title and description vertically */
  align-items: center;    /* Center content within each todo */
           /* Ensure consistent width for alignment */
  max-width: auto;       /* Optional: Set a maximum width for consistency */
  border: 1px solid #ccc; /* Optional: Add border for visibility */
  padding: 10px;          /* Optional: Add spacing inside each todo */
  margin: 15px 0;         /* Add space between todos */
  text-align: center;     /* Center text within each todo */
  color: white;
  border-radius: 15px;
}


.todo-container {
  font-size: 50px;
  max-width: 100vw;
  overflow: hidden;
}

.title-flex {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-title {
  font-size: clamp(3rem, 4vw, 4rem);
  font-family: "Raleway", sans-serif;
  padding: 10px;
  text-wrap: wrap;
}

.todo-description {
  font-size: clamp(1rem, 2vw, 2rem);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* High z-index to appear above other content */
}

.modal-border {
  padding: 40px;
  border: 1px solid white;
  border-radius: 20px;
  background-color: black; 
  margin:5px;
  
}

.modal-flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  
}

.modal-text {
  font-family: "Raleway", sans-serif;
 
}

.modal-form-flex {
  display: flex;
  flex-direction: column;
 
}

.modal-form-flex > select {
  width: auto;
  align-self: center;
  justify-self: center;
  margin: 5px;
  border-radius: 10px;
  padding: 10px;
}

.modal-form-flex > label {
  font-size: clamp(1rem, 1vw, 4rem);
  text-align: center;
}

.select-flex {
  display: flex;
  justify-content: center;
  gap: 2px;
  
}

.owner-flex {
  display: flex;
  flex-direction: column;
  flex: 1
}

.priority-flex {
  display: flex;
  flex-direction: column;
  flex: 1
}

.owner-label {
  font-size: 15px;
}

.priority-label {
  font-size: 15px;
}


.input-container {
  width: 10px;
}

.modal-btn-flex {
  display: flex;
  gap: 20px;
  padding-top: 5px;
}

.modal-btn-close {
  flex:1;
  color: red;
}

.modal-btn-add {
  flex:1;
}

.modal-btn-add,
.modal-btn-close {
  border: 2px solid white;
  border-radius: 30px;
  background-color: black;
  color: white;
  padding: 10px;
}

.modal-btn-add:active,
.modal-btn-close:active {
  background-color: rgb(103, 103, 99);
}

.loader-flex {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
